<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watchdog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.watchdog.LOCKED_SERVICE_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:label="@string/app_name"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".UnlockActivity">
        </activity>
        
        <service android:enabled="true"
            android:name=".LockedService"
            android:permission="com.watchdog.LOCKED_SERVICE_PERMISSION"></service>
        
    </application>

</manifest>
